.users {
    height: auto;
    max-height: 85vh;
    overflow-y: scroll;
}

.messsges {
    height: auto;
    max-height: 80vh;
    overflow-y: hidden;
}

.row_users_chat {
    height: 80vh;
}

.row_messages {
    height: 80vh;
}
